{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h1># {% trans 'User List' %}</h1>

  <p><a href="{% url 'user_add' %}">{% trans 'Add' %}</a></p>

  <table>
    <thead>
      <tr>
        <td>{% trans 'ID' %}</td>
        <td>{% trans 'Name' %}</td>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td><a href="{% url 'user_detail' user.id %}">{{ user.username }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}