{% extends "base.html" %}

{% load permission_tags %}

{% block page-content %}
  {% get_user_perm user project as permissions %}

  <div class="row">
    <div class="col-md-12">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject font-green-sharp bold">{{ project.name }}</span>
          </div>
          <div class="actions btn-set">
            {% hasperm user 'pm.add_subproject' project %}
              {% if project.CLOSED_STATUS != project.status %}
                <a href="{% url 'project_add'  %}?parent={{ project.id }}" class="btn btn-default btn-circle"><i class="fa fa-plus"></i>新建子项目</a>
              {% endif %}
            {% endhasperm %}

            {% hasperm user 'pm.close_project' project %}
              {% if project.status == project.CLOSED_STATUS %}
                <a href="{% url 'project_reopen' project.id %}" class="btn btn-default btn-circle"><i class="fa fa-unlock"></i>Reopen</a>
              {% else %}
                <a href="{% url 'project_close' project.id %}" class="btn btn-default btn-circle"><i class="fa fa-lock"></i>Close</a>
              {% endif %}
            {% endhasperm %}

            {% if other_projects %}
              <div class="btn-group">
                <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                  <i class="fa fa-share"></i> 其它项目 <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right" id="other-projects">
                    {{ other_projects|safe }}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="portlet-body">
          <div class="tabbable-line">
            <ul class="nav nav-tabs">
              <li id="tab_overview"><a href="{% url 'project_detail' project.id %}"> 概述 </a></li>
              <li id="tab_roadmap"><a href="{% url 'version_roadmap' project.id %}"> 路线图 </a></li>
              {% if 'pm.read_issue' in permissions %}
                <li id="tab_issues"><a href="{% url 'issue_list' project.id %}"> 问题 </a></li>
              {% endif %}
              {% if 'pm.add_issue' in permissions %}
                <li id="tab_create_issue"><a href="{% url 'issue_add' project.id %}"> 新建问题 </a></li>
              {% endif %}
              {% if 'pm.read_gantt' in permissions %}
                <li id="tab_gantt"><a href="{% url 'project_gantt' project.id %}"> 甘特图 </a></li>
              {% endif %}
              <!--
              <li id="tab_calendar"><a href="/projects/1/issues/calendar"> 日历 </a></li>
              <li id="tab_news"><a href="/projects/1/news"> 新闻 </a></li>
              <li id="tab_documents"><a href="/projects/1/documents"> 文档 </a></li>
              -->
              {% if project.CLOSED_STATUS != project.status %}
                {% if perms.pm.change_project or 'pm.manage_member' in permissions or 'pm.manage_version' in permissions or 'pm.manage_issue_category' in permissions %}
                  <li id="tab_settings"><a href="{% url 'project_settings' project.id %}"> 配置 </a></li>
                {% endif %}
              {% endif %}
            </ul>
            <div class="tab-content no-space">
              <div id="tab-content" tab-toggle="{% block tab_toggle %}{% endblock %}">
                {% block tab_content %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
