{% load i18n %}
{% load widget_tweaks %}

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label class="control-label col-md-2">标签<span class="required">*</span></label>
      <div class="col-md-3">
        {{ form.tag|add_class:"form-control" }}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2">主题<span class="required">*</span></label>
      <div class="col-md-8">
        {{ form.subject|add_class:"form-control" }}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2">描述</label>
      <div class="col-md-8">
        {{ form.description|add_class:"form-control"|attr:"rows:3" }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label col-md-4">状态<span class="required">*</span></label>
      <div class="col-md-6">
        {{ form.status|add_class:"form-control" }}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">优先级<span class="required">*</span></label>
      <div class="col-md-6">
        {{ form.priority|add_class:"form-control" }}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">指派给</label>
      <div class="col-md-6">
        {{ form.assigned_to|add_class:"form-control" }}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">目标版本</label>
      <div class="col-md-6">
        {{ form.version|add_class:"form-control" }}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label col-md-2">父任务</label>
      <div class="col-md-6">
        {{ form.parent|add_class:"form-control" }}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label col-md-2">开始日期</label>
      <div class="col-md-6">
        <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
          {{ form.start_date|add_class:"form-control"|attr:"name=datepicker"|attr:"readonly" }}
          <span class="input-group-btn">
            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label col-md-2">完成日期</label>
      <div class="col-md-6">
        <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
          {{ form.due_date|add_class:"form-control"|attr:"name=datepicker"|attr:"readonly" }}
          <span class="input-group-btn">
            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label col-md-2">%完成</label>
      <div class="col-md-6">
        {{ form.done_ratio|add_class:"form-control" }}
      </div>
    </div>
  </div>
</div>



