{% extends "project/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block tab_toggle %}tab_roadmap{% endblock %}

{% block tab_content %}
  <div class="tab-caption">新建版本</div>
  <div class="portlet light grey-cararra bordered">
    <div class="portlet-body form">
      <form class="form-horizontal" method="post">
        {% csrf_token %}
        <!-- TODO: error info for all -->
        {{ form.errors }}
        {% include 'project/version_form.html' %}
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2">
              <button type="submit" class="btn green">创建</button>
              <button type="button" onclick="window.location.href='{{ backurl }}'" class="btn default">返回</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
