{% extends "project/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block tab_toggle %}tab_create_issue{% endblock %}

{% block tab_content %}
<div class="tab-caption">新建问题</div>
<div class="portlet light grey-cararra bordered">
  <div class="portlet-body form">
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      <div class="form-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group {% if form.tag.errors %}has-error{% endif %}">
              <label class="control-label col-md-2">标签<span class="required">*</span></label>
              <div class="col-md-3">
                {{ form.tag|add_class:"form-control" }}
                {% if form.tag.errors %}
                  <span class="help-block">{{ form.tag.errors.0 }}</span>
                {% endif %}
              </div>
            </div>
            <div class="form-group {% if form.subject.errors %}has-error{% endif %}">
              <label class="control-label col-md-2">主题<span class="required">*</span></label>
              <div class="col-md-8">
                {{ form.subject|add_class:"form-control" }}
                {% if form.subject.errors %}
                  <span class="help-block">{{ form.subject.errors.0 }}</span>
                {% endif %}
              </div>
            </div>
            <div class="form-group {% if form.description.errors %}has-error{% endif %}">
              <label class="control-label col-md-2">描述</label>
              <div class="col-md-8">
                {{ form.description|add_class:"form-control"|attr:"rows:3" }}
                {% if form.description.errors %}
                  <span class="help-block">{{ form.description.errors.0 }}</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group {% if form.status.errors %}has-error{% endif %}">
              <label class="control-label col-md-4">状态<span class="required">*</span></label>
              <div class="col-md-6">
                {{ form.status|add_class:"form-control" }}
                {% if form.status.errors %}
                  <span class="help-block">{{ form.status.errors.0 }}</span>
                {% endif %}
              </div>
            </div>
            <div class="form-group {% if form.priority.errors %}has-error{% endif %}">
              <label class="control-label col-md-4">优先级<span class="required">*</span></label>
              <div class="col-md-6">
                {{ form.priority|add_class:"form-control" }}
                {% if form.priority.errors %}
                  <span class="help-block">{{ form.priority.errors.0 }}</span>
                {% endif %}
              </div>
            </div>
            <div class="form-group {% if form.assigned_to.errors %}has-error{% endif %}">
              <label class="control-label col-md-4">指派给</label>
              <div class="col-md-6">
                {{ form.assigned_to|add_class:"form-control" }}
                {% if form.assigned_to.errors %}
                  <span class="help-block">{{ form.assigned_to.errors.0 }}</span>
                {% endif %}
              </div>
            </div>
            <div class="form-group {% if form.version.errors %}has-error{% endif %}">
              <label class="control-label col-md-4">目标版本</label>
              <div class="col-md-6">
                {{ form.version|add_class:"form-control" }}
                {% if form.version.errors %}
                  <span class="help-block">{{ form.version.errors.0 }}</span>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group {% if form.parent.errors %}has-error{% endif %}">
              <label class="control-label col-md-2">父任务</label>
              <div class="col-md-6">
                {{ form.parent|add_class:"form-control" }}
                {% if form.parent.errors %}
                  <span class="help-block">{{ form.parent.errors.0 }}</span>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group {% if form.start_date.errors %}has-error{% endif %}">
              <label class="control-label col-md-2">开始日期</label>
              <div class="col-md-6">
                <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
                  <input type="text" class="form-control" readonly="" name="datepicker">
                  <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group {% if form.due_date.errors %}has-error{% endif %}">
              <label class="control-label col-md-2">完成日期</label>
              <div class="col-md-6">
                <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
                  <input type="text" class="form-control" readonly="" name="datepicker">
                  <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group {% if form.done_ratio.errors %}has-error{% endif %}">
              <label class="control-label col-md-2">%完成</label>
              <div class="col-md-6">
                {{ form.done_ratio|add_class:"form-control" }}
                {% if form.done_ratio.errors %}
                  <span class="help-block">{{ form.done_ratio.errors.0 }}</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-3">
            <button type="submit" class="btn green">创建</button>
            <button type="button" class="btn default">取消</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
