{% extends "project/base.html" %}

{% block tab_toggle %}tab_create_issue{% endblock %}

{% block tab_content %}
<div class="tab-caption">新建问题</div>
<div class="portlet light grey-cararra bordered">
  <div class="portlet-body form">
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      <div class="form-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group has-error">
              <label class="control-label col-md-2">跟踪<span class="required" aria-required="true">*</span></label>
              <div class="col-md-3">
                <select class="form-control">
                  <option>研发</option>
                  <option>缺陷</option>
                  <option>文档</option>
                  <option>调研</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">主题<span class="required" aria-required="true">*</span></label>
              <div class="col-md-8">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">描述</label>
              <div class="col-md-8">
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-4">状态<span class="required" aria-required="true">*</span></label>
              <div class="col-md-6">
                <select class="form-control">
                  <option>新建</option>
                  <option>进行中</option>
                  <option>已解决</option>
                  <option>已关闭</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-4">优先级<span class="required" aria-required="true">*</span></label>
              <div class="col-md-6">
                <select class="form-control">
                  <option>低</option>
                  <option>普通</option>
                  <option>高</option>
                  <option>紧急</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-4">指派给</label>
              <div class="col-md-6">
                <select class="form-control">
                  <option>aaa</option>
                  <option>bbb</option>
                  <option>ccc</option>
                  <option>ddd</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-4">目标版本</label>
              <div class="col-md-6">
                <select class="form-control">
                  <option>研发</option>
                  <option>缺陷</option>
                  <option>文档</option>
                  <option>调研</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-2">父任务</label>
              <div class="col-md-6">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-2">开始日期</label>
              <div class="col-md-6">
                <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
                  <input type="text" class="form-control" readonly="" name="datepicker">
                  <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-2">完成日期</label>
              <div class="col-md-6">
                <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
                  <input type="text" class="form-control" readonly="" name="datepicker">
                  <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-2">%完成</label>
              <div class="col-md-6">
                <select class="form-control">
                  <option>%0</option>
                  <option>%10</option>
                  <option>%20</option>
                  <option>%30</option>
                  <option>%40</option>
                  <option>%50</option>
                  <option>%60</option>
                  <option>%70</option>
                  <option>%80</option>
                  <option>%90</option>
                  <option>%100</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-3">
            <button type="submit" class="btn green">创建</button>
            <button type="button" class="btn default">取消</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
