{% load i18n %}
{% load widget_tweaks %}
{% load permission_tags %}

{% get_user_perm user project as permissions %}

{{ form.errors }}
--------------
{{ worktime_form.errors }}
--------------
{{ comment_form.errors }}
<form action="{% url 'issue_update' issue.id %}" class="form-horizontal" method="post">
  {% csrf_token %}
  <div class="form-body">
    {% if 'pm.change_issue' in permissions %}
      <h5>属性</h5>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group {% if form.project.errors %}has-error{% endif %}">
            <label class="control-label col-md-2">项目<span class="required">*</span></label>
            <div class="col-md-3">
              {{ form.project|add_class:"form-control" }}
              {% if form.project.errors %}
                <span class="help-block">{{ form.project.errors.0 }}</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% include 'project/create_issue_form.html' %}
      {% if 'pm.add_worktime' in permissions or 'pm.add_comment' in permissions %}
        <hr>
      {% endif %}
    {% endif %}

    {% if 'pm.add_worktime' in permissions %}
      <h5>工时</h5>
      <div class="form-group">
        <label class="control-label col-md-2">耗时</label>
        <div class="col-md-10">
          {{ worktime_form.hours|add_class:"form-control input-inline input-xsmall" }}
          {% if worktime_form.hours.errors %}
            <span class="help-block">{{ worktime_form.hours.errors.0 }}</span>
          {% endif %}
          <span class="help-inline">小时</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2">注释</label>
        <div class="col-md-6">
          {{ worktime_form.description|add_class:"form-control" }}
          {% if worktime_form.description.errors %}
            <span class="help-block">{{ worktime_form.description.errors.0 }}</span>
          {% endif %}
        </div>
      </div>
      {% if 'pm.add_comment' in permissions %}
        <hr>
      {% endif %}
    {% endif %}

    {% if 'pm.add_comment' in permissions %}
      <h5>说明</h5>
      <div class="form-group">
        <div class="col-md-12">
          {{ comment_form.content|add_class:"form-control"|attr:"rows:3" }}
          {% if comment_form.hours.errors %}
            <span class="help-block">{{ comment_form.hours.errors.0 }}</span>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="form-actions">
    <div class="row">
      <div class="col-md-offset-3">
        <button type="submit" class="btn green">保存</button>
        <a type="button" class="btn default" href="{% url 'issue_detail' issue.id %}">取消</a>
      </div>
    </div>
  </div>
</form>



