{% extends "project/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block tab_toggle %}tab_issues{% endblock %}

{% block tab_content %}
<div class="tab-caption">
  <span>编辑工时</span>
</div>
<div class="portlet light grey-cararra bordered">
  <div class="portlet-body form">
    {% include 'form_errors.html' %}
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      <div class="form-body">
        {% include 'project/worktime_form.html' %}
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-2">
            <button type="submit" class="btn green">保存</button>
            <a href="{% url 'worktime_list' issue.id %}" class="btn default">取消</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
