{% extends "project/base.html" %}

{% load permission_tags %}

{% block tab_toggle %}tab_issues{% endblock %}

{% block tab_content %}
  {% get_user_perm user project as permissions %}

  {% include 'form_success.html' %}
  <div class="tab-caption">
    <span>问题</span>
    <div class="actions btn-set small">
      {% if 'pm.add_issue' in permissions and project.status != project.CLOSED_STATUS %}
        <a href="{% url 'issue_add' project.id %}"><i class="fa fa-plus"></i>新建问题</a>
      {% endif %}
    </div>
  </div>
  <div class="dataTables_wrapper">
    <div class="table-scrollable">
      <table class="table table-light table-advance table-hover table-condensed second">
        <thead>
        <tr>
          <th><a name="btn-order" orderby="id">ID</a></th>
          <th><a name="btn-order" orderby="tag">标签</a></th>
          <th><a name="btn-order" orderby="status">状态</a></th>
          <th><a name="btn-order" orderby="priority">优先级</a></th>
          <th><a name="btn-order" orderby="subject">主题</a></th>
          <th><a name="btn-order" orderby="assigned_to">指派给</a></th>
          <th><a name="btn-order" orderby="updated_on">更新于</a></th>
        </tr>
        </thead>
        <tbody>
        {% if issues %}
          {% for issue in issues %}
            <tr>
              <td><a href="{% url 'issue_detail' issue.id %}">{{ issue.id }}</a></td>
              <td>{{ issue.tag|default:"-" }}</td>
              <td>{{ issue.status|default:"-" }}</td>
              <td>{{ issue.get_priority_display|default:"-" }}</td>
              <td><a href="{% url 'issue_detail' issue.id %}">{{ issue.subject }}</a></td>
              <td>{% if issue.assigned_to %}<a href="{% url 'user_detail' issue.assigned_to.id %}">{{ issue.assigned_to }}</a>{% else %}-{% endif %}</td>
              <td>{{ issue.updated_on|date:'Y-m-d H:i:s' }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="6">{% include 'no_data.html' %}</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
    {% include "table_paging.html" %}
  </div>
{% endblock %}

{% block page-level-scripts %}
<script>
  var page_url = '{% url 'issue_list' project.id %}';
  init_table_orderby(page_url, null);
</script>
{% endblock %}
