{% extends "project/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block tab_toggle %}tab_issues{% endblock %}


{% block tab_content %}
  <div class="portlet issue-info">
    <div class="portlet-title">
      <div class="caption">
        <span class="caption-subject">{{ issue.tag }} #{{ issue.id }}</span>
      </div>
      <div class="actions btn-set small">
        <a id="btn-edit-issue"><i class="fa fa-edit"></i>编辑</a>
        <a href="{% url 'worktime_add' issue.id %}"><i class="fa fa-clock-o"></i>登记工时 </a>
        {% if watch %}
          <a href="{% url 'issue_unwatch' issue.id %}"><i class="fa fa-star"></i>Unwatch</a>
        {% else %}
          <a href="{% url 'issue_watch' issue.id %}"><i class="fa fa-star-o"></i>Watch</a>
        {% endif %}
        <a><i class="fa fa-copy"></i>复制 </a>
        <a data-href="{% url 'issue_delete' issue.id %}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o"></i>删除</a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="alert alert-block alert-warning fade in">
        <div class="issue-subject">{{ issue.subject }}</div>
        <div class="issue-update">由 <a href="">{{ issue.author }}</a> 在 <a href="javascript:;">{{ issue.created_on|date:'Y-m-d' }}</a> 添加. 更新于 <a href="javascript:;">{{ issue.updated_on|date:'Y-m-d' }}</a> .</div>
        <div class="row">
          <div class="col-md-3"><label class="label-name">状态:</label></div>
          <div class="col-md-3"><label  class="label-value">{{ issue.status }}</label></div>
          <div class="col-md-3"><label class="label-name">开始日期:</label></div>
          <div class="col-md-3"><label class="label-value">{{ issue.start_date|default:"-" }}</label></div>
        </div>
        <div class="row">
          <div class="col-md-3"><label class="label-name">优先级:</label></div>
          <div class="col-md-3"><label class="label-value">{{ issue.get_priority_display }}</label></div>
          <div class="col-md-3"><label class="label-name">完成日期:</label></div>
          <div class="col-md-3"><label class="label-value">{{ issue.due_date|default:"-" }}</label></div>
        </div>
        <div class="row">
          <div class="col-md-3"><label class="label-name">指派给:</label></div>
          <div class="col-md-3"><label class="label-value">{% if issue.assigned_to %}<a href="{% url 'user_detail' issue.assigned_to.id %}">{{ issue.assigned_to }}</a>{% else %}-{% endif %}</label></div>
          <div class="col-md-3"><label class="label-name">%完成:</label></div>
          <div class="col-md-3"><label class="label-value">{{ issue.get_done_ratio_display }}</label></div>
        </div>
        <div class="row">
          <div class="col-md-3"><label class="label-name">类别:</label></div>
          <div class="col-md-3"><label class="label-value">{{ issue.category|default:"" }}</label></div>
          <div class="col-md-3"><label class="label-name">耗时:</label></div>
          <div class="col-md-3"><label class="label-value"><a href="{% url 'worktime_list' issue.id %}">{{ spent_time }} 小时</a></label></div>
        </div>
        <div class="row">
          <div class="col-md-3"><label class="label-name">目标版本:</label></div>
          <div class="col-md-3"><label class="label-value">
            {% if issue.version %}
              <a href="{% url 'version_detail' issue.version.id %}">{{ issue.version.name }}</a>
            {% else %}
              -
            {% endif %}
          </label></div>
        </div>
        <hr>
        <div class="related-info">
          <div class="title">
            <div class="caption">
              <span>子任务</span>
            </div>
            <div class="actions btn-set extra-small">
              <a href="{% url 'issue_add' project.id %}?parent={{ issue.id }}&redirect={% url 'issue_detail' issue.id %}">新增</a>
            </div>
          </div>
          <div class="content">
            <table>
            {% for subissue in subissues %}
              <tr>
                <td><a href="{% url 'issue_detail' subissue.id %}">{{ subissue.tag }} #{{ subissue.id }}</a>: {{ subissue.subject }}</td>
                <td>{{ subissue.status }}</td>
                <td>
                  <div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 40%"></div></div>
                </td>
              </tr>
            {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div id="history">
        <div class="title">历史记录</div>
        <div class="row">
          <div class="col-md-12">
            <ul class="media-list">
            {% for comment in comments %}
              <li class="media">
                <a class="pull-left" href="javascript:;">
                  <img class="todo-userpic" src="{% if comment.author.profile.avatar %}/static/avata/{{ comment.author.profile.avatar }}{% else %}/static/img/avatar2.jpg{% endif %}" width="27px" height="27px">
                </a>
                <div class="media-body todo-comment">
                  <div class="actions btn-set todo-comment-btn small">
                    <a name="btn-quote-comment" data-href="{% url 'issue_quote' issue.id %}?comment={{ comment.id }}"><i class="fa fa-comment-o"></i>引用</a>
                    <a data-href="{% url 'comment_update' comment.id %}" name="btn-edit-comment"><i class="fa fa-edit"></i>编辑</a>
                  </div>
                  <p class="todo-comment-head">
                    <span class="todo-comment-username">{{ comment.author }}</span> &nbsp; <span class="todo-comment-date">{{ comment.updated_on|date:"Y-m-d H:i:s" }}</span>
                  </p>
                  <!--
                  <p class="todo-text-color">
                    <ul>
                      <li>状态: 由 <a>新建</a> 改为 <a>关闭</a></li>
                      <li>%完成: 由 <a>10%</a> 改为 <a>100%</a></li>
                    </ul>
                  </p>
                  -->
                  <p name="comment-text" class="todo-text-color">{{ comment.content }}</p>
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div name="comment-editor" hidden>
        <form method="post">
          {% csrf_token %}
          {{ comment_form.content|add_class:"form-control"|attr:"rows:3" }}
          <div class="form-actions">
            <button type="submit" class="btn green">保存</button>
            <button name="btn-comment-cancel"  class="btn default">取消</button>
          </div>
        </form>
      </div>
      <div id="issue-editor" hidden>
        <div class="title">编辑</div>
        <div class="portlet light grey-cararra bordered">
          <div class="portlet-body form">
            {% include 'project/edit_issue_form.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'confirm_delete.html' %}
{% endblock %}


{% block page_level_styles %}
<style>
  .portlet.issue-info > .portlet-title {
      border-bottom: none;
      padding: 15px 0 0 0;
      /*margin-bottom: 0px;*/
      margin: 0 1px;
  }

  .portlet.issue-info > .portlet-title > .caption {
      font-size: 14px;
      color: #666;
  }

  .portlet.issue-info > .portlet-title > .btn-set {
      margin-top: 6px;
  }

  .portlet.issue-info > .portlet-body {
      padding-top: 0px;
  }

  .portlet.issue-info > .portlet-body > .alert-warning {
      color: #666;
  }

  .portlet.issue-info > .portlet-body .issue-subject {
      font-size: 16px;
      padding-bottom: 20px;
  }

  .portlet.issue-info > .portlet-body .issue-update {
      font-size: 12px;
      padding-bottom: 15px;
  }

  .portlet.issue-info > .portlet-body label {
      font-size: 13px;
  }

  .portlet.issue-info > .portlet-body label.label-name {
      font-weight: 700;
  }

  .portlet.issue-info > .portlet-body label.label-value {
      font-weight: 100;

  }

  .todo-comment-btn:hover {
    /*color: #fff;*/
    background-color: white;
    /*border-color: #a1b6c2;*/
  }

  .portlet.issue-info .info-block .info-caption {
      display: inline-block;
  }

  .portlet.issue-info .info-block .actions.btn-set {
      display: inline-block;
      float: right;
  }

  .portlet.issue-info .related-info > .title > .caption {
      display: inline-block;
      font-weight: 700;

  }

  .portlet.issue-info .related-info > .title > .actions.btn-set {
      display: inline-block;
      float: right;
      font-size: 12px;
  }

  .portlet.issue-info .related-info > .content {
      padding-top: 15px;
  }

  .portlet.issue-info .related-info > .content > table {
      width: 100%;
      max-width: 100%;
      font-size: 12px;
  }

  .portlet.issue-info .related-info > .content > table td {
      padding: 3px 0;
  }

  .portlet.issue-info .related-info > .content > table td:first-child {
      width: 60%;
  }

  .portlet.issue-info .related-info > .content > table td:last-child {
      width: 25%;
  }

  .portlet.issue-info .related-info > .content .progress {
      width: 100px;
      height: 10px;
      margin-bottom: 0px;
      /*border: 1px solid #e6e6e6;*/
  }

  .portlet.issue-info ul ul, ol ul {
      list-style-type: disc;
  }

  .portlet.issue-info #history li {
      font-size: 12px;
  }

  .portlet.issue-info .todo-text-color {
      font-size: 13px;
      color: #666;
  }

  .portlet.issue-info #history > .title {
      padding: 20px 0 15px 0;
      font-size: 17px;
  }

  .portlet.issue-info #issue-editor > .title {
      padding: 20px 0 15px 0;
      font-size: 17px;
  }

  [name="comment-editor"] .btn {
      padding: 3px 10px;
  }

  [name="comment-editor"] .form-actions {
      padding-top: 5px;
  }
</style>
{% endblock %}



{% block page-level-scripts %}
<script>
  show_issue_editor = function(){
    $('#history').hide();
    e = $('#issue-editor').show();
    $('html,body').animate({scrollTop: e.offset().top}, 200);
    return e;
  };

  $('#btn-edit-issue').click(function(){
    show_issue_editor();
    return false;
  });

  $('[name="btn-quote-comment"]').click(function(){
    show_issue_editor();
    $.getJSON($(this).attr('data-href'), function(data) {
      $('#issue-editor').find('[name="{{ comment_form.content.html_name }}"]').text(data.content);
    });
    return false;
  });

  $('[name="btn-edit-comment"]').click(function(){
    if( 0 == $(this).closest('li').find('[name="comment-editor"]').length ) {
      text = $(this).closest('li').find('[name="comment-text"]');
      editor = $('[name="comment-editor"]:hidden').clone(true).show();
      editor.find('textarea').text(text.text());
      editor.find('form').attr('action', $(this).attr('data-href'));
      text.after(editor).hide();
      return false;
    }
  });

  $('[name="btn-comment-cancel"]').click(function(){
    editor = $(this).closest('[name="comment-editor"]');
    editor.siblings('[name="comment-text"]').show();
    editor.remove();
    return false;
  });
</script>
{% endblock %}