{% extends "project/base.html" %}

{% block tab_toggle %}tab_issues{% endblock %}

{% block tab_content %}
    <div class="tab-caption">
    <span>问题</span>
    <div class="actions btn-set small">
      <a href="{% url 'issue_add' project.id %}"><i class="fa fa-plus"></i>新建问题</a>
    </div>
  </div>
  {% if issues %}
  <div class="dataTables_wrapper">
    <div class="table-scrollable">
      <table class="table table-light table-advance table-hover table-condensed second">
        <thead>
        <tr>
          <th>标签</th>
          <th>状态</th>
          <th>优先级</th>
          <th>主题</th>
          <th>指派给</th>
          <th>更新于</th>
        </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
          <tr>
            <td>{{ issue.tag }}</td>
            <td>{{ issue.status }}</td>
            <td>{{ issue.priority }}</td>
            <td><a href="{% url 'issue_detail' issue.id %}">{{ issue.subject }}</a></td>
            <td><a href="/users/1">{{ issue.assigned_to }}</a></td>
            <td>{{ issue.updated_on|date:'Y-m-d' }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "table_footer.html" %}
  </div>
  {% else %}
    <div class="nodata"><span>暂无数据可显示</span></div>
  {% endif %}
{% endblock %}
