{% extends "project/base.html" %}

{% block tab_toggle %}tab_overview{% endblock %}

{% block tab_content %}
  <div class="tab-caption">概述</div>
  {% if project.CLOSED_STATUS == project.status %}
    <div id="project-locked" class="alert alert-warning"><i class="fa fa-lock"></i>当前项目已关闭，内容只读。</div>
  {% endif %}

  {% if project.description %}
    <p id="project-description">{{ project.description }}</p>
  {% endif %}

  <div class="row">
    <div class="col-md-3">
      <div class="portlet green-haze box">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-cubes"></i>
            子项目
          </div>
        </div>
        <div class="portlet-body">
          {% if subprojects %}
            <ul>
              {% for project in subprojects %}
                <li><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></li>
              {% endfor %}
            </ul>
          {% else %}
            {% include 'no_data.html' %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="portlet green-haze box">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-list-alt"></i>
            问题
          </div>
        </div>
        <div class="portlet-body">
          {% if project.issue_report.items %}
            <ul>
              {% for key,value in project.issue_report.items %}
                <li>{{ key.name }}：<a href="{% url 'issue_all' %}?tag={{ key.id }}&status={{ IssueStatus.NOT_CLOSED_STATUS }}">{{ value.open }}</a> 打开 / <a href="{% url 'issue_all' %}?tag={{ key.id }}">{{ value.total }}</a></li>
              {% endfor %}
            </ul>
          {% else %}
            {% include 'no_data.html' %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="portlet green-haze box">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-user"></i>
            成员
          </div>
        </div>
        <div class="portlet-body">
          {% if role_users %}
            <ul>
              {% for item in role_users %}
                <li>{{ item.0.name }}:
                  {% for user in item.1 %}
                    <a href="{% url 'user_detail' user.id %}">{{ user }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            {% include 'no_data.html' %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="portlet green-haze box">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-clock-o"></i>
            工时
          </div>
        </div>
        <div class="portlet-body">
          <ul>
            <li>预计时间：{{ project.estimated_time }} 小时</li>
            <li>实际耗时：{{ project.spent_time }} 小时</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
