{% extends "project/base.html" %}

{% block tab_toggle %}tab_overview{% endblock %}

{% block tab_content %}
  <div class="tab-caption">概述</div>
  {% if project.CLOSED_STATUS == project.status %}
    <div class="warning"><i class="fa fa-lock"></i>当前项目已关闭，内容只读。</div>
  {% endif %}
  <p>{{ project.description }}</p>
  {% if subprojects %}
    <ul>
      <li>Subprojects: {% for project in subprojects %}<a href="{% url 'project_detail' project.id %}">{{ project.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</li>
    </ul>
  {% endif %}

  工时统计：预期时间 {{ project.estimated_time }} 小时，耗时 {{ project.spent_time }} 小时
  <div class="row">
    <div class="col-md-6">
      <div class="portlet solid warning-box">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-list-alt"></i>
            问题
          </div>
        </div>
        <div class="portlet-body">
          <ul>
            {% for key,value in project.issue_report.items %}
              <li>{{ key.name }}：<a href="{% url 'issue_all' %}?open&issue_tag_id={{ key.id }}">{{ value.open }}</a> 打开 / {{ value.total }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      {% if role_users %}
        <div class="portlet solid warning-box">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-user"></i>
              成员
            </div>
          </div>
          <div class="portlet-body">
            {% for item in role_users %}
              {{ item.0.name }}:
              {% for user in item.1 %}
                <a href="{% url 'user_detail' user.id %}">{{ user.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
