{% extends "project/base.html" %}

{% block tab_toggle %}tab_roadmap{% endblock %}

{% block tab_content %}
  <div class="tab-caption">
    <span>路线图</span>
    <div class="actions btn-set small">
      {% if user.is_authenticated %}
        <a href="{% url 'version_add' project.id %}"><i class="fa fa-plus"></i>新建版本</a>
      {% endif %}
    </div>
  </div>
  {% if versions %}
    {% for version in versions %}
      <div class="version">
        <div class="version-title"><i class="fa fa-cube"></i><a href="{% url 'version_detail' version.id %}">{{ version.name }}</a></div>
        <table class="version-progress">
          <tr>
            <td>
              <div class="progress">
                <span style="width: {{ version.progress }};" class="progress-bar progress-bar-success"></span>
              </div>
            </td>
            <td>
              <span class="progress-value">{{ version.progress }}</span>
            </td>
          </tr>
        </table>
        <div class="version-detail">
          <span>
            <a href="{% url 'issue_all' %}?version_id={{ version.id }}">{{ version.total_issue }} 问题</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            (<a href="{% url 'issue_all' %}?version_id={{ version.id }}&status_id={{ version.CLOSED_STATUS }}">{{ version.total_closed_issue }} 关闭</a> — <a href="{% url 'issue_all' %}?version_id={{ version.id }}&open">{{ version.total_open_issue }} 打开</a>)
          </span>
        </div>
      </div>
    {% endfor %}
    <!--
    <div class="version">
      <div class="version-title"><i class="fa fa-cube"></i><a>No Issue</a></div>
      <div class="nodata">该版本没有问题</div>
    </div>
    -->
  {% else %}
    <div class="nodata">暂无数据可显示</div>
  {% endif %}
{% endblock %}
