{% extends "project/base.html" %}

{% load permission_tags %}

{% block tab_toggle %}tab_roadmap{% endblock %}

{% block tab_content %}
  {% get_user_perm user project as permissions %}
  {% include 'form_success.html' %}
  <div class="tab-caption">
    <span>版本 >> {{ version.name }}</span>
    <div class="actions btn-set small">
      {% if 'pm.manage_version' in permissions and project.status != project.CLOSED_STATUS %}
        <a href="{% url 'version_update' version.id %}"><i class="fa fa-plus"></i>编辑</a>
        <a data-href="{% url 'version_delete' version.id %}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o"></i>删除</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="version">
        <table class="version-progress">
          <tr>
            <td>
              <div class="progress">
                <span style="width: {{ version.done_ratio }}%;" class="progress-bar progress-bar-success"></span>
              </div>
            </td>
            <td>
              <span class="progress-value">{{ version.done_ratio }} %</span>
            </td>
          </tr>
        </table>
        <div class="version-detail">
          <span>
            <a href="{% url 'issue_all' %}?version_id={{ version.id }}">{{ version.total_issue }} 问题</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            (<a href="{% url 'issue_all' %}?version_id={{ version.id }}&status_id={{ version.CLOSED_STATUS }}">{{ version.total_closed_issue }} 关闭</a> — <a href="{% url 'issue_all' %}?version_id={{ version.id }}&open">{{ version.total_open_issue }} 打开</a>)
          </span>
        </div>
      </div>
      <h5>相关问题</h5>
      {% if version.issues %}
      <div class="table-scrollable">
        <table class="table table-light table-advance table-hover table-condensed second">
          <tbody>
          {% for issue in version.issues %}
            <tr><td><a href="{% url 'issue_detail' issue.id %}">{{ issue.tag }} #{{ issue.id }}</a>: {{ issue.subject }}</td></tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
        {% include 'no_data.html' %}
      {% endif %}
    </div>
    <div class="col-md-3 col-md-offset-1">
      <div class="portlet solid small-box">
        <div class="portlet-title">
          <div class="caption"><span class="icon-clock"></span>&nbsp;时间跟踪</div>
        </div>
        <div class="portlet-body">
          <table id="version-time-track">
            <tbody>
            <tr>
              <td>预期时间:</td>
              <td><span>{{ version.estimated_time }}</span> 小时</td>
            </tr>
            <tr>
              <td>耗时:</td>
              <td><span>{{ version.spent_time }}</span> 小时</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% include 'confirm_delete.html' %}
{% endblock %}


{% block page_level_styles %}
<style>
  #version-time-track {
      width: 100%;
  }

  #version-time-track td {
      text-align: right;
  }

  #version-time-track td:first-child {
      width: 40%;
  }

  #version-time-track span {
      font-size: 18px;
  }
</style>
{% endblock %}