{% load i18n %}
{% load widget_tweaks %}


<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label class="control-label col-md-2">问题<span class="required">*</span></label>
      <div class="col-md-2">
        {{ form.issue|add_class:"form-control" }}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2">日期<span class="required">*</span></label>
      <div class="col-md-2">
        <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
          {{ form.date|add_class:"form-control"|attr:"readonly" }}
          <span class="input-group-btn">
            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2">小时<span class="required">*</span></label>
      <div class="col-md-2">
        {{ form.hours|add_class:"form-control" }}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2">注释</label>
      <div class="col-md-8">
        {{ form.description|add_class:"form-control" }}
      </div>
    </div>
  </div>
</div>

