{% extends "project/base.html" %}

{% block tab_toggle %}tab_issues{% endblock %}

{% block tab_content %}
<div class="tab-caption">
  <span>错误 #4 >> 工时</span>
</div>
<div class="portlet box">
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-light table-advance table-hover table-condensed second">
        <thead>
          <tr>
            <th>日期</th>
            <th>用户</th>
            <th>小时</th>
            <th>注释</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>2015-11-11</td>
          <td>Eric</td>
          <td>2</td>
          <td>
            <div class="actions btn-set small">
              <a href="/issues/1/worktime/add"><i class="fa fa-pencil"></i></a>
              <a href=""><i class="fa fa-trash-o"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>2015-11-11</td>
          <td>Eric</td>
          <td>2</td>
          <td>
            <div class="actions btn-set small">
              <a href="/issues/1/worktime/add"><i class="fa fa-pencil"></i></a>
              <a href=""><i class="fa fa-trash-o"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>2015-11-11</td>
          <td>Eric</td>
          <td>2</td>
          <td>
            <div class="actions btn-set small">
              <a href="/issues/1/worktime/add"><i class="fa fa-pencil"></i></a>
              <a href=""><i class="fa fa-trash-o"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>2015-11-11</td>
          <td>Eric</td>
          <td>2</td>
          <td>
            <div class="actions btn-set small">
              <a href="/issues/1/worktime/add"><i class="fa fa-pencil"></i></a>
              <a href=""><i class="fa fa-trash-o"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>2015-11-11</td>
          <td>Eric</td>
          <td>2</td>
          <td>
            <div class="actions btn-set small">
              <a href="/issues/1/worktime/add"><i class="fa fa-pencil"></i></a>
              <a href=""><i class="fa fa-trash-o"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>2015-11-11</td>
          <td>Eric</td>
          <td>2</td>
          <td>
            <div class="actions btn-set small">
              <a href="/issues/1/worktime/add"><i class="fa fa-pencil"></i></a>
              <a href=""><i class="fa fa-trash-o"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>2015-11-11</td>
          <td>Eric</td>
          <td>2</td>
          <td>
            <div class="actions btn-set small">
              <a href="/issues/1/worktime/add"><i class="fa fa-pencil"></i></a>
              <a href=""><i class="fa fa-trash-o"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>2015-11-11</td>
          <td>Eric</td>
          <td>2</td>
          <td>
            <div class="actions btn-set small">
              <a href="/issues/1/worktime/add"><i class="fa fa-pencil"></i></a>
              <a href=""><i class="fa fa-trash-o"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>2015-11-11</td>
          <td>Eric</td>
          <td>2</td>
          <td>
            <div class="actions btn-set small">
              <a href="/issues/1/worktime/add"><i class="fa fa-pencil"></i></a>
              <a href=""><i class="fa fa-trash-o"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
