{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h1># {% trans 'UserGroup List' %}</h1>

  <p><a href="{% url 'user_group_add' %}">{% trans 'Add' %}</a></p>

  <table>
    <thead>
      <tr>
        <td>{% trans 'ID' %}</td>
        <td>{% trans 'Name' %}</td>
      </tr>
    </thead>
    <tbody>
      {% for user_group in user_groups %}
        <tr>
          <td>{{ user_group.id }}</td>
          <td><a href="{% url 'user_group_detail' user_group.id %}">{{ user_group.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}