{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block page-content %}
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption">
        <span class="caption-subject font-green-sharp bold uppercase">所有问题</span>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-inline table-options">
            <div class="form-group">{{ form.project|add_class:"form-control issue-filter" }}</div>
            <div class="form-group">{{ form.version|add_class:"form-control issue-filter" }}</div>
            <div class="form-group">{{ form.tag|add_class:"form-control issue-filter" }}</div>
            <div class="form-group">{{ form.status|add_class:"form-control issue-filter" }}</div>
            <div class="form-group">{{ form.priority|add_class:"form-control issue-filter" }}</div>
            <div class="form-group">{{ form.assignee|add_class:"form-control issue-filter" }}</div>
            <div class="form-group">{{ form.watcher|add_class:"form-control issue-filter" }}</div>
            <div class="form-group">
              <div class="input-group input-large">
                {{ form.start_date|add_class:"form-control date-picker"|attr:"end-date:id_due_date"}}
                <span class="input-group-addon"> to </span>
                {{ form.due_date|add_class:"form-control date-picker"|attr:"start-date:id_start_date" }}
              </div>
            </div>
            <div class="form-group"><button class="form-control btn default" id="btn-view">View</button></div>
          </div>
          <div class="table-scrollable">
            <table class="table table-light table-advance table-hover table-condensed second">
              <thead>
              <tr>
                <th><a name="btn-order" orderby="id">#</a></th>
                <th><a name="btn-order" orderby="project">项目</a></th>
                <th><a name="btn-order" orderby="version">版本</a></th>
                <th><a name="btn-order" orderby="tag">标签</a></th>
                <th><a name="btn-order" orderby="status">状态</a></th>
                <th><a name="btn-order" orderby="priority">优先级</a></th>
                <th><a name="btn-order" orderby="subject">主题</a></th>
                <th><a name="btn-order" orderby="assigned_to">指派给</a></th>
                <th><a name="btn-order" orderby="updated_on">更新于</a></th>
              </tr>
              </thead>
              <tbody>
                {% if issues %}
                  {% for issue in issues %}
                    <tr>
                      <td><a href="{% url 'issue_detail' issue.id %}">{{ issue.id }}</a></td>
                      <td><a href="{% url 'project_detail' issue.project.id %}">{{ issue.project.name }}</a></td>
                      <td>{% if issue.version %}<a href="{% url 'version_detail' issue.version.id %}">{{ issue.version.name }}</a>{% else %}-{% endif %}</td>
                      <td>{{ issue.tag|default:"-" }}</td>
                      <td>{{ issue.status|default:"-" }}</td>
                      <td>{{ issue.get_priority_display|default:"-" }}</td>
                      <td><a href="{% url 'issue_detail' issue.id %}">{{ issue.subject }}</a></td>
                      <td>{% if issue.assigned_to %}<a href="{% url 'user_detail' issue.assigned_to.id %}">{{ issue.assigned_to }}</a>{% else %}-{% endif %}</td>
                      <td>{{ issue.updated_on|date:'Y-m-d H:i:s' }}</td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="8">{% include 'no_data.html' %}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          {% include 'table_paging.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page-level-scripts %}
<script>
  var page_url = '{% url 'issue_all' %}';

  function get_query_item(obj, name) {
      var value = obj.val();
      return (value) ? (name + "=" + value) : '';
  }

  function get_query_string() {
    var querystr = "";
    var items = [
        {% for field in form %}
          ["{{ field.auto_id }}", "{{ field.html_name }}"],
        {% endfor %}
    ];

    var first = true;
    for (var i=0; i<items.length; i++) {
      var item = items[i];
      var str = get_query_item($('#' + item[0]), item[1]);
      if (str) {
        querystr = querystr + ((first) ? '?' : '&') + str;
        first = false;
      }
    }
    return querystr;
  }

  init_table_orderby(page_url, get_query_string);

  $('#btn-view').click(function(){
    location = page_url + get_query_string();
  });
</script>
{% endblock %}
