{% extends "base.html" %}


{% block page-content %}
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption">
        <span class="caption-subject font-green-sharp bold uppercase">问题</span>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-md-12">
          <div class="portlet box">
            <div class="portlet-body">
              <div class="form-inline table-options">
                <div class="form-group">
                  <select class="form-control input-small">
                    <option>所有项目</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control input-small">
                    <option>所有跟踪</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control input-small">
                    <option>所有状态</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control input-small">
                    <option>所有优先级</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control input-small">
                    <option>所有指派</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                  </select>
                </div>
                <div class="form-group">
                  <div class="input-group input-large date-picker input-daterange" data-date-format="yyyy-mm-dd">
                    <input type="text" class="form-control">
                    <span class="input-group-addon"> to </span>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="table-scrollable">
                <table class="table table-light table-advance table-hover table-condensed second" aria-describedby="">
                  <thead>
                  <tr>
                    <th># <i class="fa fa-caret-down"></i></th>
                    <th>项目 <i class="fa fa-caret-up"></i></th>
                    <th>跟踪</th>
                    <th>状态</th>
                    <th>优先级</th>
                    <th>主题</th>
                    <th>指派给</th>
                    <th>更新于</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="/issues/1">1</a></td>
                    <td><a href="/projects/1">PM项目</a></td>
                    <td>错误</td>
                    <td>新建</td>
                    <td>普通</td>
                    <td><a href="/issues/1">这是一个测试Issue (新建)</a></td>
                    <td><a href="/users/1">Eric</a></td>
                    <td>2015-10-09 11:24</td>
                  </tr>
                  <tr>
                    <td><a href="">1</a></td>
                    <td><a href="">test</a></td>
                    <td>错误</td>
                    <td>新建</td>
                    <td>普通</td>
                    <td><a href="">这是一个测试Issue (新建)</a></td>
                    <td><a href="">Eric</a></td>
                    <td>2015-10-09 11:24</td>
                  </tr>
                  <tr>
                    <td><a href="">1</a></td>
                    <td><a href="">test</a></td>
                    <td>错误</td>
                    <td>新建</td>
                    <td>普通</td>
                    <td><a href="">这是一个测试Issue (新建)</a></td>
                    <td><a href="">Eric</a></td>
                    <td>2015-10-09 11:24</td>
                  </tr>
                  <tr>
                    <td><a href="">1</a></td>
                    <td><a href="">test</a></td>
                    <td>错误</td>
                    <td>新建</td>
                    <td>普通</td>
                    <td><a href="">这是一个测试Issue (新建)</a></td>
                    <td><a href="">Eric</a></td>
                    <td>2015-10-09 11:24</td>
                  </tr>
                  <tr>
                    <td><a href="">1</a></td>
                    <td><a href="">test</a></td>
                    <td>错误</td>
                    <td>新建</td>
                    <td>普通</td>
                    <td><a href="">这是一个测试Issue (新建)</a></td>
                    <td><a href="">Eric</a></td>
                    <td>2015-10-09 11:24</td>
                  </tr>
                  <tr>
                    <td><a href="">1</a></td>
                    <td><a href="">test</a></td>
                    <td>错误</td>
                    <td>新建</td>
                    <td>普通</td>
                    <td><a href="">这是一个测试Issue (新建)</a></td>
                    <td><a href="">Eric</a></td>
                    <td>2015-10-09 11:24</td>
                  </tr>
                  <tr>
                    <td><a href="">1</a></td>
                    <td><a href="">test</a></td>
                    <td>错误</td>
                    <td>新建</td>
                    <td>普通</td>
                    <td><a href="">这是一个测试Issue (新建)</a></td>
                    <td><a href="">Eric</a></td>
                    <td>2015-10-09 11:24</td>
                  </tr>
                  <tr>
                    <td><a href="">1</a></td>
                    <td><a href="">test</a></td>
                    <td>错误</td>
                    <td>新建</td>
                    <td>普通</td>
                    <td><a href="">这是一个测试Issue (新建)</a></td>
                    <td><a href="">Eric</a></td>
                    <td>2015-10-09 11:24</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
