{% extends "base.html" %}


{% block page-content %}
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject font-green-sharp bold uppercase">我的工作台</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row">
            <div class="col-md-6">
              <div class="portlet box">
                <div class="portlet-body">
                  <div class="table-caption">
                    <span>指派给我的问题 ({{ assigned_issues|length }})</span>
                    {% if assigned_issues %}
                      <small class="pull-right"><a href="{% url 'issue_all' %}?assigned_to_id={{ user.id }}">更多»</a></small>
                    {% endif %}
                  </div>
                  <div class="table-scrollable">
                    <table class="table table-light table-advance table-hover table-condensed second">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>项目</th>
                        <th>标签</th>
                        <th>主题</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% if assigned_issues %}
                      {% for issue in assigned_issues %}
                        <tr>
                          <td>{{ issue.id }}</td>
                          <td><a href="{% url 'project_detail' issue.project.id %}">{{ issue.project.name }}</a></td>
                          <td>{{ issue.tag }}</td>
                          <td><a href="{% url 'issue_detail' issue.id %}">{{ issue.subject }}</a></td>
                        </tr>
                      {% endfor %}
                      {% else %}
                        <tr>
                          <td colspan="4">{% include 'no_data.html' %}</td>
                        </tr>
                      {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="portlet box">
                <div class="portlet-body">
                  <div class="table-caption">
                    <span>我关注的问题 ({{ watch_issues|length }})</span>
                    {% if watch_issues %}
                      <small class="pull-right"><a href="{% url 'issue_all' %}?watcher_id={{ user.id }}">更多»</a></small>
                    {% endif %}
                  </div>
                  <div class="table-scrollable">
                    <table class="table table-light table-advance table-hover table-condensed second">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>项目</th>
                        <th>标签</th>
                        <th>主题</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% if watch_issues %}
                        {% for issue in watch_issues %}
                          <tr>
                            <td>{{ issue.id }}</td>
                            <td><a href="{% url 'project_detail' issue.project.id %}">{{ issue.project.name }}</a></td>
                            <td>{{ issue.tag }}</td>
                            <td><a href="{% url 'issue_detail' issue.id %}">{{ issue.subject }}</a></td>
                          </tr>
                        {% endfor %}
                      {% else %}
                        <tr>
                          <td colspan="4">{% include 'no_data.html' %}</td>
                        </tr>
                      {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

