{% extends "base.html" %}


{% block page-content %}
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject font-green-sharp bold uppercase">我的工作台</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row">
            <div class="col-md-6">
              <div class="portlet box">
                <div class="portlet-body">
                  <div class="table-caption"><span>指派给我的问题 (10)</span><small class="pull-right"><a href="/issues">更多»</a></small></div>
                  <div class="table-scrollable">
                    <table class="table table-light table-advance table-hover table-condensed second">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>项目</th>
                        <th>跟踪</th>
                        <th>主题</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td><a href="/issues/1">1</a></td>
                        <td><a href="/projects/1">PM平台研发项目</a></td>
                        <td>错误</td>
                        <td><a href="/issues/1">这是一个测试Issue (新建)</a></td>
                      </tr>
                      <tr>
                        <td><a href="">1</a></td>
                        <td><a href="">test</a></td>
                        <td>错误</td>
                        <td><a href="">这是一个测试Issue (新建)</a></td>
                      </tr>
                      <tr>
                        <td><a href="">1</a></td>
                        <td><a href="">test</a></td>
                        <td>错误</td>
                        <td><a href="">这是一个测试Issue (新建)</a></td>
                      </tr>
                      <tr>
                        <td><a href="">1</a></td>
                        <td><a href="">test</a></td>
                        <td>错误</td>
                        <td><a href="">这是一个测试Issue (新建)</a></td>
                      </tr>
                      <tr>
                        <td><a href="">1</a></td>
                        <td><a href="">test</a></td>
                        <td>错误</td>
                        <td><a href="">这是一个测试Issue (新建)</a></td>
                      </tr>
                      <tr>
                        <td><a href="">1</a></td>
                        <td><a href="">test</a></td>
                        <td>错误</td>
                        <td><a href="">这是一个测试Issue (新建)</a></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="portlet box">
                <div class="portlet-body">
                  <div class="table-caption"><span>跟踪的问题 (10)</span><small class="pull-right"><a href="">更多»</a></small></div>
                  <div class="table-scrollable">
                    <table class="table table-light table-advance table-hover table-condensed second">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>项目</th>
                        <th>跟踪</th>
                        <th>主题</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td><a href="">1</a></td>
                        <td><a href="">test</a></td>
                        <td>错误</td>
                        <td><a href="">这是一个测试Issue (新建)</a></td>
                      </tr>
                      <tr>
                        <td><a href="">1</a></td>
                        <td><a href="">test</a></td>
                        <td>错误</td>
                        <td><a href="">这是一个测试Issue (新建)</a></td>
                      </tr>
                      <tr>
                        <td><a href="">1</a></td>
                        <td><a href="">test</a></td>
                        <td>错误</td>
                        <td><a href="">这是一个测试Issue (新建)</a></td>
                      </tr>
                      <tr>
                        <td><a href="">1</a></td>
                        <td><a href="">test</a></td>
                        <td>错误</td>
                        <td><a href="">这是一个测试Issue (新建)</a></td>
                      </tr>
                      <tr>
                        <td><a href="">1</a></td>
                        <td><a href="">test</a></td>
                        <td>错误</td>
                        <td><a href="">这是一个测试Issue (新建)</a></td>
                      </tr>
                      <tr>
                        <td><a href="">1</a></td>
                        <td><a href="">test</a></td>
                        <td>错误</td>
                        <td><a href="">这是一个测试Issue (新建)</a></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="portlet box">
                <div class="portlet-body">
                  <div class="table-caption"><span>空数据样例</span></div>
                  <div class="nodata"><span>暂无数据可显示</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

