{% load i18n %}
{% load widget_tweaks %}

{% include 'form_errors.html' %}
<form class="form-horizontal" method="post">
  {% csrf_token %}
  <div class="form-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label col-md-2">{% trans 'Name' %}<span class="required">*</span></label>
          <div class="col-md-8">
            {{ form.name|add_class:"form-control" }}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">{% trans 'Description' %}</label>
          <div class="col-md-8">
            {{ form.description|add_class:"form-control"|attr:"rows:3" }}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">{% trans 'Identifier' %}</label>
          <div class="col-md-3">
            {% if project.identifier %}
              {{ form.identifier|add_class:"form-control"|attr:"readonly" }}
            {% else %}
              {{ form.identifier|add_class:"form-control" }}
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">{% trans 'Homepage' %}</label>
          <div class="col-md-8">
            {{ form.homepage|add_class:"form-control" }}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">{% trans 'Is public' %}</label>
          <div class="col-md-8">
            <div class="icheck-inline">
              {{ form.is_public }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">{% trans 'Parent' %}</label>
          <div class="col-md-3">
            {{ form.parent|add_class:"form-control" }}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">{% trans 'Inherit members' %}</label>
          <div class="col-md-8">
            <div class="icheck-inline">
              {{ form.inherit_members }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <div class="row">
      <div class="col-md-offset-2">
        <button type="submit" class="btn green">保存</button>
        {% if backurl %}
          <button type="button" class="btn default" onclick="location='{{ backurl }}'">取消</button>
        {% endif %}
      </div>
    </div>
  </div>
</form>