{% extends "base.html" %}

{% load i18n %}

{% block page-content %}
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject font-green-sharp bold">{% trans 'Projects' %}</span>
          </div>
          <div class="actions btn-set">
            <a type="button" class="btn btn-default btn-circle" href="{% url 'project_add' %}"><i class="fa fa-plus"></i> 新建项目</a>
            <a class="btn btn-default btn-circle" href="{% url 'issue_all' %}"> 查看所有问题</a>
          </div>
        </div>
        <div class="portlet-body">
          <div class="project-list"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block page-level-scripts %}
<script>
  projects={% autoescape off %}{{ projects }}{% endautoescape %}

  function get_elements(data) {
    var p = $('<ol style="list-style-type: none">');
    for(n in data) {
      if(data[n][0].my_project){
        var icon = '<i class="fa fa-star font-yellow-casablanca"></i>'
      }else{
        var icon = '<i class="fa fa-none"></i>'
      }
      p.append('<li><a href="' + data[n][0].url + '">' + icon + data[n][0].name + '</a></li>');
      if(0!=data[n][1].length){
        p.append(get_elements(data[n][1]));
      }
    }
    return p;
  }

  $('.project-list').append(get_elements(projects));

</script>
{% endblock %}