{% extends "base.html" %}

{% load i18n %}
{% load permission_tags %}

{% block page-content %}
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject font-green-sharp bold">{% trans 'Projects' %}</span>
          </div>
          <div class="actions btn-set">
            {% if perms.pm.add_project %}
              <a type="button" class="btn btn-default btn-circle" href="{% url 'project_add' %}"><i class="fa fa-plus"></i> 新建项目</a>
            {% endif %}
            <a class="btn btn-default btn-circle" href="{% url 'issue_all' %}"> 查看所有问题</a>
          </div>
        </div>
        <div class="portlet-body">
          <div class="project-list">
            {% if projects %}
              {{ projects|safe }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
