{% extends "base.html" %}


{% block page-content %}
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption">
        <span class="caption-subject font-green-sharp bold uppercase">{{ user.username }}</span>
      </div>
    </div>
    <div class="portlet-body">
      <h4>信息</h4>
      <ul>
        <li>邮件地址: {{ user.email }}</li>
        <li>注册于: {{ user.date_joined|date:'Y-m-d' }}</li>
        <li>最后登录: {{ user.last_login|date:'Y-m-d H:i:s' }}</li>
      </ul>
      <h4>项目</h4>
      <ul>
        {% for item in joined_projects %}
          <li>
            <a href="{% url 'project_detail' item.0.id %}">{{ item.0.name }}</a>
            {% if item.1 %}
              ({% for role in item.1 %}{{ role.name }}{% if not forloop.last %}, {% endif %}{% endfor %})
            {% endif %}
            {{ item.2|date:'Y-m-d' }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}