{% extends "base.html" %}


{% block page-content %}
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption">
        <span class="caption-subject font-green-sharp bold uppercase">张三</span>
      </div>
    </div>
    <div class="portlet-body">
      <h4>信息</h4>
      <ul>
        <li>邮件地址: xxx@xxx.com</li>
        <li>注册于: 2014-03-12</li>
        <li>最后登录: 214-03-12</li>
      </ul>
      <h4>项目</h4>
      <ul>
        <li><a href="/projects/1"> PM研发项目 </a> (开发人员, 2015-10-02)</li>
        <li>bbb (开发人员, 2015-10-02)</li>
        <li>ccc (开发人员, 2015-10-02)</li>
        <li>ddd (开发人员, 2015-10-02)</li>
        <li>eee (开发人员, 2015-10-02)</li>
        <li>fff (开发人员, 2015-10-02)</li>
      </ul>
    </div>
  </div>
{% endblock %}