{% extends "base.html" %}

{% load i18n %}

{% block content %}

  <h1># {% trans 'Version Form' %}</h1>

  <form method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>{% trans 'Project' %}</td>
        <td>{{ form.project }}{{ form.project.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'Name' %}</td>
        <td>{{ form.name }}{{ form.name.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'Description' %}</td>
        <td>{{ form.description }}{{ form.description.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'Wiki page' %}</td>
        <td>{{ form.wiki_page }}{{ form.wiki_page.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'Status' %}</td>
        <td>{{ form.status }}{{ form.status.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'Effective date' %}</td>
        <td>{{ form.effective_date }}{{ form.effective_date.errors.0 }}</td>
      </tr>
    </table>
    <input type="submit" value="{% trans 'Submit' %}"/>
    <input type="button" value="{% trans 'Cancel' %}" onclick="javascript :history.back(-1)"/>
  </form>
{% endblock %}