{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h1># {% trans 'IssueStatus List' %}</h1>

  <p><a href="{% url 'issue_status_add' %}">{% trans 'Add' %}</a></p>

  <table>
    <thead>
      <tr>
        <td>{% trans 'ID' %}</td>
        <td>{% trans 'Name' %}</td>
      </tr>
    </thead>
    <tbody>
      {% for issue_status in issue_statuses %}
        <tr>
          <td>{{ issue_status.id }}</td>
          <td><a href="{% url 'issue_status_detail' issue_status.id %}">{{ issue_status.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}