{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h1># {% trans 'Project List' %}</h1>

  <p><a href="{% url 'project_add' %}">{% trans 'Add' %}</a></p>

  <table>
    <thead>
      <tr>
        <td>{% trans 'ID' %}</td>
        <td>{% trans 'Name' %}</td>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
        <tr>
          <td>{{ project.id }}</td>
          <td><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}