{% extends "_admin/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block tab_toggle %}tab_groups{% endblock %}

{% block tab_content %}
  {% include 'form_success.html' %}
  <div class="page-title">新建组</div>
  <div class="portlet-body">
    <div class="portlet light grey-cararra bordered">
      <div class="portlet-body form">
        {% include 'form_errors.html' %}
        <form class="form-horizontal" method="post">
          {% csrf_token %}
          <div class="form-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label col-md-2">名称<span class="required">*</span></label>
                  <div class="col-md-4">
                    {{ form.name|add_class:"form-control" }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-offset-2">
                <button type="submit" class="btn green" name="commit">创建</button>
                <button type="submit" class="btn green" name="continue">创建并继续</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
