{% extends "_admin/base.html" %}


{% block tab_toggle %}tab_trackers{% endblock %}


{% block tab_content %}
  <div class="page-title">跟踪标签 >> 新建</div>
  <div class="portlet-body">
    <div class="portlet light grey-cararra bordered">
      <div class="portlet-body form">
        <form action="javascript:;" class="form-horizontal">
          <div class="form-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label col-md-2">名称<span class="required" aria-required="true">*</span></label>
                  <div class="col-md-4">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-offset-2">
                <button type="submit" class="btn green" name="commit">创建</button>
                <button type="submit" class="btn green" name="continue">创建并继续</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

