{% extends "_admin/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block tab_toggle %}tab_groups{% endblock %}

{% block tab_content %}
  {% include 'form_success.html' %}
  <div class="page-title">
    <span>编辑组 >> {{ group.name }}</span>
  </div>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_group_general" data-toggle="tab">一般</a></li>
      <li><a href="#tab_group_user" data-toggle="tab">用户</a></li>
      <li><a href="#tab_group_project" data-toggle="tab">项目</a></li>
    </ul>
    <div class="tab-content no-space">
      <div class="tab-pane active" id="tab_group_general">
        <div class="portlet light grey-cararra bordered">
          <div class="portlet-body form">
            {% include 'form_errors.html' %}
            <form class="form-horizontal" method="post" action="{% url 'group_update' group.id %}">
              {% csrf_token %}
              <div class="form-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label col-md-2">名称<span class="required">*</span></label>
                      <div class="col-md-4">
                        {{ form.name|add_class:"form-control" }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <div class="row">
                  <div class="col-md-offset-2">
                    <button type="submit" class="btn green">保存</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab_group_user">
        <div class="actions btn-set small btn-table">
          <a data-toggle="modal" href="#group_add_users"><i class="fa fa-plus"></i>添加用户</a>
        </div>
        {% if joined_users %}
          <div class="table-scrollable">
            <table class="table table-light table-advance table-hover table-condensed second">
              <thead>
              <tr>
                <th>用户</th>
                <th width="110px"></th>
              </tr>
              </thead>
              <tbody>
              {% for user in joined_users %}
                <tr>
                  <td><a href="{% url 'user_detail' user.id %}">{{ user }}</a></td>
                  <td>
                    <div class="actions btn-set small">
                      <a data-href="{% url 'group_delete_user' group.id user.id %}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o"></i>删除</a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% include "table_paging.html" %}
        {% else %}
          {% include "no_data.html" %}
        {% endif %}

        <div class="modal fade bs-modal-lg" id="group_add_users" tabindex="-1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">添加用户</h4>
              </div>
              <div class="modal-body">
                 <form method="post" name="group_add_users_form" action="{% url 'group_add_users' group.id %}">
                 {% csrf_token %}
                  <div class="form-body">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="icheck-inline">
                          {% if not_joined_users %}
                            {% for user in not_joined_users %}
                              <label><input type="checkbox" name="user" value="{{ user.id }}">{{ user }}</label>
                            {% endfor %}
                          {% else %}
                            {% include "no_data.html" %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn green" onclick="document.group_add_users_form.submit()" disabled id="btn_group_add_users">保存</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab_group_project">
        <div class="actions btn-set small btn-table">
          <a data-toggle="modal" href="#group_join_projects"><i class="fa fa-plus"></i>加入项目</a>
        </div>
        {% if project_roles %}
          <div class="table-scrollable">
            <table class="table table-light table-advance table-hover table-condensed second">
            <thead>
            <tr>
              <th>项目</th>
              <th>角色</th>
              <th width="110px"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in project_roles %}
              <tr>
                <td>{{ item.0.name }}</td>
                <td data-toggle="checkboxlist_form">
                  <span>{% for role in item.1 %}{{ role.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
                </td>
                <td>
                  <div class="actions btn-set small">
                    <a name="btn-show-checkboxlist" data-href="{% url 'group_roles' group.id item.0.id %}"><i class="fa fa-edit"></i>编辑</a>
                    <a data-href="{% url 'group_quit_project' group.id item.0.id %}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o"></i>删除</a>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
            </table>
          </div>
          {% include "table_paging.html" %}
        {% else %}
          {% include "no_data.html" %}
        {% endif %}

        <div class="modal fade bs-modal-lg" id="group_join_projects" tabindex="-1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">加入项目</h4>
              </div>
              <div class="modal-body">
                <form method="post" name="group_join_projects_form" action="{% url 'group_join_projects' group.id %}">
                  {% csrf_token %}
                  <div class="form-body">
                    <div class="form-group">
                      <div class="input-group">
                        <label>项目：</label>
                        <div class="icheck-inline">
                          {% if not_joined_projects %}
                            {% for project in not_joined_projects %}
                              <label><input type="checkbox" name="project" value="{{ project.id }}">{{ project.name }}</label>
                            {% endfor %}
                          {% else %}
                            {% include "no_data.html" %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="form-group">
                      <div class="input-group">
                        <label>角色：</label>
                        {% if roles %}
                          <div class="icheck-inline">
                            {% for role in roles %}
                              <label><input type="checkbox" name="role" value="{{ role.id }}">{{ role.name }}</label>
                            {% endfor %}
                          </div>
                        {% else %}
                          {% include "no_data.html" %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn green" onclick="document.group_join_projects_form.submit()" disabled id="btn_group_join_projects">保存</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "confirm_delete.html" %}
  {% include "_admin/checkboxlist_form.html" %}
{% endblock %}

{% block page-level-scripts %}
<script>
  $("input:checkbox[name='user']").change(function(){
    var len = $("input:checkbox:checked[name='user']").length;
    var btn = $("#btn_group_add_users");
    (len == 0) ? btn.prop('disabled', true) : btn.prop('disabled', false);
  });

  $("input:checkbox[name='project'], input:checkbox[name='role']").change(function(){
    var project_len = $("input:checkbox:checked[name='project']").length;
    var role_len = $("input:checkbox:checked[name='role']").length;
    var btn = $("#btn_group_join_projects");
    (project_len == 0 || role_len == 0) ? btn.prop('disabled', true) : btn.prop('disabled', false);
  });
</script>
{% endblock %}
