{% extends "_admin/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block tab_toggle %}tab_groups{% endblock %}

{% block tab_content %}
  {% include 'form_success.html' %}
  <div class="page-title">组</div>
  <div class="actions btn-set small btn-table">
    <a href="{% url 'group_add' %}"><i class="fa fa-plus">新建组</i></a>
  </div>
  {% if groups %}
    <div class="dataTables_wrapper">
      <div class="table-scrollable">
        <table class="table table-light table-advance table-hover table-condensed second">
          <thead>
          <tr>
            <th>组</th>
            <th>用户</th>
            <th width="110px"></th>
          </tr>
          </thead>
          <tbody>
          {% for group in groups %}
            <tr>
              <td><a href="{% url 'group_update' group.id %}">{{ group.name }}</a></td>
              <td>{{ group.user_set.count }}</td>
              <td>
                <div class="actions btn-set small">
                  <a data-href="{% url 'group_delete' group.id %}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o"></i>删除</a>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
       </table>
      </div>
      {% include "table_paging.html" %}
    </div>
  {% else %}
    {% include 'no_data.html' %}
  {% endif %}

  {% include 'confirm_delete.html' %}
{% endblock %}
