{% extends "_admin/base.html" %}

{% block tab_toggle %}tab_projects{% endblock %}

{% block tab_content %}
  {% include 'form_success.html' %}
  <div class="page-title">项目</div>
  <div class="actions btn-set small btn-table">
    <a href="{% url 'project_add' %}?backurl="><i class="fa fa-plus"></i>新建项目</a>
  </div>
  {% if projects %}
    <div class="dataTables_wrapper">
      <div class="table-scrollable">
        <table class="table table-light table-advance table-hover table-condensed second">
          <thead>
          <tr>
            <th>项目</th>
            <th>公开</th>
            <th>创建于</th>
            <th width="110px"></th>
          </tr>
          </thead>
          <tbody>
          {% for project in projects %}
          <tr>
            <td><a href="{% url 'project_update' project.id  %}?backurl=">{{ project.name }}</a></td>
            {% if project.is_public %}
              <td><i class="fa fa-check"></i></td>
            {% else %}
              <td><i class="fa fa-times"></i></td>
            {% endif %}
            <td>{{ project.created_on|date:'Y-m-d' }}</td>
            <td>
              <div class="actions btn-set small">
                <a href="{% url 'project_delete' project.id %}"><i class="fa fa-trash-o"></i>删除</a>
              </div>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% include "table_footer.html" %}
    </div>
  {% else %}
    <div class="nodata"><span>暂无数据可显示</span></div>
  {% endif %}

{% endblock %}
