{% extends "_admin/base.html" %}

{% block tab_toggle %}tab_trackers{% endblock %}

{% block tab_content %}
  <div class="page-title">跟踪标签</div>
  <div class="actions btn-set small btn-table">
    <a href="/trackers/add"><i class="fa fa-plus"></i>新建跟踪标签</a>
  </div>
  <div class="dataTables_wrapper">
    <div class="table-scrollable">
      <table class="table table-light table-advance table-hover table-condensed second" aria-describedby="">
        <thead>
        <tr>
          <th>跟踪标签</th>
          <th width="110px"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="/trackers/1/update"> 研发 </a></td>
          <td>
            <div class="actions btn-set small">
              <a href=""><i class="fa fa-trash-o"></i>删除</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>xxx</td>
          <td>
            <div class="actions btn-set small">
              <a href=""><i class="fa fa-trash-o"></i>删除</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>xxx</td>
          <td>
            <div class="actions btn-set small">
              <a href=""><i class="fa fa-trash-o"></i>删除</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>xxx</td>
          <td>
            <div class="actions btn-set small">
              <a href=""><i class="fa fa-trash-o"></i>删除</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>xxx</td>
          <td>
            <div class="actions btn-set small">
              <a href=""><i class="fa fa-trash-o"></i>删除</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    {% include "table_footer.html" %}
  </div>
{% endblock %}
