{% extends "_admin/base.html" %}

{% block tab_toggle %}tab_users{% endblock %}

{% block tab_content %}
  {% include 'form_success.html' %}
  <div class="page-title">用户</div>
  <div class="actions btn-set small btn-table">
    <a href="{% url 'user_add' %}"><i class="fa fa-plus"></i>新建用户</a>
  </div>
  {% if users %}
    <div class="dataTables_wrapper">
      <div class="table-scrollable">
        <table class="table table-light table-advance table-hover table-condensed second">
          <thead>
          <tr>
            <th>登录名</th>
            <th>名</th>
            <th>姓</th>
            <th>邮件地址</th>
            <th>管理员</th>
            <th>创建于</th>
            <th>最后登录</th>
            <th width="110px"></th>
          </tr>
          </thead>
          <tbody>
          {% for user in users %}
            <tr>
              <td><a href="{% url 'user_update' user.id %}">{{ user.username }}</a></td>
              <td>{{ user.firstname|default:"-" }}</td>
              <td>{{ user.lastname|default:"-" }}</td>
              <td>{{ user.email|default:'-' }}</td>
              <td>{% if user.is_superuser %}<i class="fa fa-check"></i>{% else %}-{% endif %}</td>
              <td>{{ user.date_joined|date:"Y-m-d"|default:"-" }}</td>
              <td>{{ user.last_login|default:"-" }}</td>
              <td>
                <div class="actions btn-set small">
                  {% if user.is_active %}
                    <a href="{% url 'user_lock' user.id %}"><i class="fa fa-lock"></i>锁定</a>
                  {% else %}
                    <a href="{% url 'user_unlock' user.id %}"><i class="fa fa-unlock"></i>打开</a>
                  {% endif %}
                  <a data-href="{% url 'user_delete' user.id %}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o"></i>删除</a>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% include "table_paging.html" %}
    </div>
  {% else %}
    {% include "no_data.html" %}
  {% endif %}

  {% include 'confirm_delete.html' %}
{% endblock %}
