/* here you can put your own css to customize and override the theme */

html, body, label {
    font-size: 13px;
    color: #666;
}

.page-title {
    font-size: 17px;
    padding-bottom: 5px;
}

.page-title + .tabbable {
    padding-top: 20px;
}

.page-title + .portlet-body {
    padding-top: 20px;
}

.form-control {
    font-size: 13px;
    color: #666;
    height: 32px;
}

.form-group {
    margin-bottom: 10px;
}

.form-horizontal .icheck-inline {
    margin-top: 7px;
}

.actions.btn-set {
    float: right;
    font-size: 13px;
}

.actions.btn-set .fa {
    font-size: 13px;
}

.actions.btn-set > a {
    padding: 0 2px 0 5px;
}

.actions.btn-set > a > i {
    margin: 0 2px 0 0;
}

.actions.btn-set.small {
    font-size: 13px;
}

.actions.btn-set.extra-small {
    font-size: 12px;
}

.btn-table {
    padding: 5px 0;
}

.nodata {
    font-size: 11px;
    color: #a0a0a0;
    font-style: italic;
}

.project-list ol {
    -webkit-padding-start: 20px;
}

.project-list ol:first-child {
    -webkit-padding-start: 10px;
}

.project-list li {
    font-size: 15px;
    padding: 5px 0;
}

#other-projects {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-caption {
    font-size: 15px;
    color: #666;
}

.portlet.box > .portlet-title {
    min-height: 0px;
}

.portlet.box > .portlet-body > ul {
    padding-left: 18px;
    list-style-type: none;
    margin: 5px 0;
}

.portlet.box > .portlet-title > .caption {
    font-size: 14px;
    padding: 6px 0;
}


#project-tab-content {
    padding-top: 10px;
}

.tab-caption {
    font-size: 16px;
    padding: 15px 0;
}

.nav-tabs.second > li > a {
    line-height: 0.6;
}

.table-light.second > thead > tr > th {
    color: #777;
    background-color: #f5f5f5;
}

.table-light.second > thead > tr:hover > th {
    background-color: #f5f5f5;
}

button.date-picker {
    height: 32px;
}

.progress > .progress-bar-success {
    background-color: #A2DAA8;
}

/* version begin */

.version {
    padding: 20px 0;
}

.version-progress .progress {
    height: 10px;
    /*margin-bottom: 0px;*/
    /*border: 1px solid #e6e6e6;*/
    margin: 5px 0;
}

.version-progress td:first-child {
    width: 400px;
}

.progress-value {
    margin-left: 10px;
    font-size: 12px;
}

.version-title {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}

.version-title > i {
    padding-right: 3px;
    color: chocolate;
}

.version-detail {
    font-size: 11px;
}

/* version end */

.portlet.solid.small-box {
    background-color: None;
    border: 1px solid #ddd;
}

.portlet.solid.small-box > .portlet-title > .caption {
    font-size: 15px;
}

#table-paging {
    text-align: center;
}

#table-paging > form {
    float: right;
}

#table-paging > span {
    padding: 0 10px;
}

#table-paging > form > select {
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

#table-paging > a:link,a:visited,a:hover,a:active {
    text-decoration: none;
}

.table-options {
    padding: 10px 0;
}

div.confirm {
    text-align: center;
}

div.confirm .btn {
    font-size: 13px;
}

div.alert {
    padding: 8px 10px;
    margin-bottom: 10px;
}

ul.message {
    list-style: none;
    padding: 0;
}

ul.message li {
    padding-left: 1.3em;
}

ul.message.error li:before {
    content: "\f06a"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -0.8em;
    width: 1.3em;
}

ul.message.success li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -0.8em;
    width: 1.3em;
}

/**
 * project
 */

#my-project {
    float: right;
    font-style: italic;
    color: #b5b5b5;
}

#my-project > i {
    padding-right: 3px;
}

#project-locked {
    text-align: center;
    padding: 6px;
    margin-bottom: 30px;
}

#project-description {
    margin-bottom: 25px;
}


/**
 * issue
 */

.form-control.issue-filter {
    margin: 10px 0;
}