{% extends "base.html" %}

{% load i18n %}

{% block content %}

  <h1># {% trans 'Issue Form' %}</h1>

  <form method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>{% trans 'issue_type' %}</td>
        <td>{{ form.issue_type }}{{ form.issue_type.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'project' %}</td>
        <td>{{ form.project }}{{ form.project.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'subject' %}</td>
        <td>{{ form.subject }}{{ form.subject.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'description' %}</td>
        <td>{{ form.description }}{{ form.description.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'start_date' %}</td>
        <td>{{ form.start_date }}{{ form.start_date.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'due_date' %}</td>
        <td>{{ form.due_date }}{{ form.due_date.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'status' %}</td>
        <td>{{ form.status }}{{ form.status.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'assigned_to' %}</td>
        <td>{{ form.assigned_to }}{{ form.assigned_to.errors.0 }}</td>
      </tr>
            <tr>
        <td>{% trans 'priority' %}</td>
        <td>{{ form.priority }}{{ form.priority.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'version' %}</td>
        <td>{{ form.version }}{{ form.version.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'author' %}</td>
        <td>{{ form.author }}{{ form.author.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'done_ratio' %}</td>
        <td>{{ form.done_ratio }}{{ form.done_ratio.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'parent' %}</td>
        <td>{{ form.parent }}{{ form.parent.errors.0 }}</td>
      </tr>
      <tr>
        <td>{% trans 'is_private' %}</td>
        <td>{{ form.is_private }}{{ form.is_private.errors.0 }}</td>
      </tr>
    </table>
    <input type="submit" value="{% trans 'Submit' %}"/>
    <input type="button" value="{% trans 'Cancel' %}" onclick="javascript :history.back(-1)"/>
  </form>
{% endblock %}