{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h1># {% trans 'Issue List' %}</h1>

  <p><a href="{% url 'issue_add' %}">{% trans 'Add' %}</a></p>

  <table>
    <thead>
      <tr>
        <td>{% trans 'ID' %}</td>
        <td>{% trans 'Subject' %}</td>
      </tr>
    </thead>
    <tbody>
      {% for issue in issues %}
        <tr>
          <td>{{ issue.id }}</td>
          <td><a href="{% url 'issue_detail' issue.id %}">{{ issue.subject }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}