{% extends "issue/form.html" %}

{% load i18n %}

{% block worktime %}

  <div>
    <p>Log time</p>
    <table>
      <tr>
        <td>Hours:</td>
        <td>{{ worktime.hours }}{{ worktime.hours.errors.0 }}</td>
      </tr>
      <tr>
        <td>Comment:</td>
        <td>{{ worktime.comment }}{{ worktime.comment.errors.0 }}</td>
      </tr>
    </table>
  </div>
{% endblock %}


{% block comment %}
  <div>
    <p>Comment</p>
    <table>
      <tr>
        <td>{{ comment.content }}{{ comment.content.errors.0 }}</td>
      </tr>
    </table>
  </div>
{% endblock %}