{% load i18n %}

<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/jquery-2.1.4.min.js"></script>
  </head>

  <body>
    <p><a href="/">{% trans 'Home' %}</a></p>
    <p>
      {% if user.is_authenticated %}
        <p>{% trans 'Hello' %}, {{ user.username }} <a href="{% url 'logout' %}">{% trans 'Logout' %}</a></p>
        <p><a href="{% url 'password_change' %}">{% trans 'Change Password' %}</a></p>

        <ul>
          <li><a href="{% url 'project_list' %}">{% trans 'Projects' %}</a></li>
          <li><a href="{% url 'issue_list' %}">{% trans 'Issue' %}</a></li>
          <li><a href="{% url 'issue_type_list' %}">{% trans 'IssueTypes' %}</a></li>
          <li><a href="{% url 'issue_status_list' %}">{% trans 'IssueStatuses' %}</a></li>
          <li><a href="{% url 'version_list' %}">{% trans 'Versions' %}</a></li>
          <li><a href="{% url 'user_list' %}">{% trans 'User' %}</a></li>
          <li><a href="{% url 'group_list' %}">{% trans 'Group' %}</a></li>
        </ul>
      {% else %}
        <a href="{% url 'login' %}">{% trans 'Login' %}</a>
      {% endif %}
    </p>

    {% block content %}{% endblock %}

    {% block script %}{% endblock %}
  </body>
</html>