{% extends "project/settings/base.html" %}

{% block settings_tab_toggle %}tab_issue_type{% endblock %}

{% block settings_tab_content %}
  <div class="actions btn-set small btn-table">
    <a href="/projects/1/issue_categories/add"><i class="fa fa-plus"></i>新建问题类别</a>
  </div>
  <div class="dataTables_wrapper">
    <div class="table-scrollable">
      <table class="table table-light table-advance table-hover table-condensed second" aria-describedby="">
        <thead>
        <tr>
          <th>问题类别</th>
          <th>指派给</th>
          <th width="110px"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>aaa</td>
          <td>bbb</td>
          <td>
            <div class="actions btn-set small">
              <a href="/issue_categories/1/update"><i class="fa fa-edit"></i>编辑</a>
              <a><i class="fa fa-trash-o"></i>删除</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>aaa</td>
          <td>bbb</td>
          <td>
            <div class="actions btn-set small">
              <a><i class="fa fa-edit"></i>编辑</a>
              <a><i class="fa fa-trash-o"></i>删除</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>aaa</td>
          <td>bbb</td>
          <td>
            <div class="actions btn-set small">
              <a><i class="fa fa-edit"></i>编辑</a>
              <a><i class="fa fa-trash-o"></i>删除</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>aaa</td>
          <td>bbb</td>
          <td>
            <div class="actions btn-set small">
              <a><i class="fa fa-edit"></i>编辑</a>
              <a><i class="fa fa-trash-o"></i>删除</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    {% include "table_footer.html" %}
  </div>
{% endblock %}
