{% extends "project/settings/base.html" %}

{% block settings_tab_toggle %}tab_member{% endblock %}

{% block settings_tab_content %}
  {% include 'form_success.html' %}
  <div class="actions btn-set small btn-table">
    <a data-toggle="modal" href="#add_member"><i class="fa fa-plus"></i>新建成员</a>
  </div>
  <div class="dataTables_wrapper">
    <div class="table-scrollable">
      <table class="table table-light table-advance table-hover table-condensed second">
        <thead>
        <tr>
          <th>用户/组</th>
          <th>角色</th>
          <th width="110px"></th>
        </tr>
        </thead>
        <tbody>
        {% if user_roles_deletable or group_roles %}
          {% for item in user_roles_deletable %}
            <tr>
              <td><a href="{% url 'user_detail' item.0.id %}">{{ item.0 }}</a></td>
              <td data-toggle="checkboxlist_form">
                <span>{% for role in item.1 %}{{ role.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
              </td>
              <td>
                <div class="actions btn-set small">
                  <a name="btn-show-checkboxlist" data-href="{% url 'member_roles' project.id %}?user_id={{ item.0.id }}"><i class="fa fa-edit"></i>编辑</a>
                  {% if item.2 == True %}
                    <a data-href="{% url 'member_delete' project.id %}?user_id={{ item.0.id }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o"></i>删除</a>
                  {% endif %}
                </div>
              </td>
            </tr>
          {% endfor %}
          {% for item in group_roles %}
            <tr>
              <td><i class="fa fa-group"></i> {{ item.0.name }}</td>
              <td data-toggle="checkboxlist_form">
                <span>{% for role in item.1 %}{{ role.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
              </td>
              <td>
                <div class="actions btn-set small">
                  <a name="btn-show-checkboxlist" data-href="{% url 'member_roles' project.id %}?group_id={{ item.0.id }}"><i class="fa fa-edit"></i>编辑</a>
                  <a data-href="{% url 'member_delete' project.id %}?group_id={{ item.0.id }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o"></i>删除</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="3">{% include 'no_data.html' %}</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
    {% include "table_paging.html" %}
  </div>

  <div class="modal fade bs-modal-lg" id="add_member" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">新建成员</h4>
        </div>
        <div class="modal-body">
          <form name="add_member_form" action="{% url 'member_add' project.id %}" method="post">
            {% csrf_token %}
            <div class="form-body">
              <div class="form-group">
                <div class="input-group">
                  <label>用户/组：</label>
                  {% if not_joined_users or not_joined_groups %}
                    <div class="icheck-inline">
                      {% for user in not_joined_users %}
                        <label><input type="checkbox" name="user" value="{{ user.id }}">{{ user }}</label>
                      {% endfor %}
                      {% for group in not_joined_groups %}
                        <label><input type="checkbox" name="group" value="{{ group.id }}">{{ group.name }}</label>
                      {% endfor %}
                    </div>
                  {% else %}
                    {% include "no_data.html" %}
                  {% endif %}
                </div>
              </div>
              <hr>
              <div class="form-group">
                <div class="input-group">
                  <label>角色：</label>
                  {% if roles %}
                    <div class="icheck-inline">
                      {% for role in roles %}
                        <label><input type="checkbox" name="role" value="{{ role.id }}">{{ role.name }}</label>
                      {% endfor %}
                    </div>
                  {% else %}
                    {% include 'no_data.html' %}
                  {% endif %}
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn green" onclick="document.add_member_form.submit()" disabled id="btn_add_member">保存</button>
        </div>
      </div>
    </div>
  </div>
  {% include "confirm_delete.html" %}
  {% include "_admin/checkboxlist_form.html" %}
{% endblock %}

{% block page-level-scripts %}
<script>
  $("input:checkbox[name='user'], input:checkbox[name='group'], input:checkbox[name='role']").change(function(){
    var member_len = $("input:checkbox:checked[name='user'], input:checkbox:checked[name='group']").length;
    var role_len = $("input:checkbox:checked[name='role']").length;
    var btn = $("#btn_add_member");
    (member_len == 0 || role_len == 0) ? btn.prop('disabled', true) : btn.prop('disabled', false);
  });
</script>
{% endblock %}
