{% extends "project/settings/base.html" %}

{% block settings_tab_toggle %}tab_version{% endblock %}

{% block settings_tab_content %}
  {% include 'form_success.html' %}
  <div class="actions btn-set small btn-table">
    <a href="{% url 'version_add' project.id %}?backurl="><i class="fa fa-plus"></i>新建版本</a>
  </div>
  <div class="dataTables_wrapper">
    <div class="table-scrollable">
      <table class="table table-light table-advance table-hover table-condensed second">
        <thead>
        <tr>
          <th>版本</th>
          <th>描述</th>
          <th>状态</th>
          <th>有效日期</th>
          <th width="110px"></th>
        </tr>
        </thead>
        <tbody>
        {% if versions %}
          {% for version in versions %}
            <tr>
              <td>{{ version.name }}</td>
              <td>{{ version.description }}</td>
              <td>{{ version.get_status_display }}</td>
              <td>{{ version.effective_date|date:'Y-m-d'|default:"-" }}</td>
              <td>
                <div class="actions btn-set small">
                  <a href="{% url 'version_update' version.id %}?backurl="><i class="fa fa-edit"></i></a>
                  <a data-href="{% url 'version_delete' version.id %}?backurl=" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o"></i></a>
                </div>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="5">{% include 'no_data.html' %}</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
    {% include "table_paging.html" %}
  </div>
  {% include 'confirm_delete.html' %}
{% endblock %}
